<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Short URLs</h1>
    <form action="/urls" method="post">
        <input type="text" placeholder="Enter your website" name="url">
        <button>Submit</button>
    </form>

    <table border="1" cellpadding="20">
        <thead>
            <tr>
                <th>shortID</th>
                <th>Url</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach((url)=> {%>
                <tr>
                    <td>
                       <a href=<%="http://localhost:8080/urls/" + url.shortId %>> http://localhost:8080/urls/<%= url.shortId %></a>
                    </td>
                    <td>
                        <%= url.url %>
                    </td>
                    <td>
                        <%= url.visitHistory%>
                    </td>
                </tr>
                <%}) %>
        </tbody>
    </table>
</body>

</html>