<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Short URLs</h1>
    <ul>
        <% data.forEach((url) => { console.log(url)%>
            <li>
                <%= url.url %> - <a href=<%= url.url%>><%= url.shortId %></a>
            </li>
        <%}) %>
    </ul>
</body>
</html>